<!DOCTYPE html>
<html>
<head>
  <title>loltuts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- navbar -->
  <%= render "shared/navbar" %>

  <!-- page content -->
  <div class="container app-content">
    <% flash.each do |key, value| %>
      <div class="alert <%= get_flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </div>

  <!-- footer -->
  <hr>
  <footer>
    <div class="container text-center">
        <ul class="flat-list">
          <li><%= link_to "Home", root_path, class: "link" %></li>
          <li><%= link_to "Tutorials", posts_path, class: "link" %></li>
          <li><%= link_to "About", about_path, class: "link" %></li>
        </ul>
      <p>
        2016 - LOL Tutorials
      </p>
    </div>
  </footer>

</body>
</html>
